<!doctype html>
<html lang="es">

<head>
    <title><%- tituloPagina -%></title>
        
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="icon" type="image/png" href="images/paraicono.ico" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
    <link rel="stylesheet" href="fonts/icomoon/style.css">

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <!-- <link rel="stylesheet" href="css/jquery-ui.css"> -->
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <!-- <link rel="stylesheet" href="css/owl.theme.default.min.css"> -->

    <link rel="stylesheet" href="css/jquery.fancybox.min.css">  

    <!-- <link rel="stylesheet" href="css/bootstrap-datepicker.css"> -->

    <!-- <link rel="stylesheet" href="fonts/flaticon/font/flaticon.css"> -->

    <link rel="stylesheet" href="css/aos.css">
    <link rel="stylesheet" href="css/slick.css">

    <!-- <link rel="stylesheet" href="css/slick-theme.css"> -->

    <link rel="stylesheet" href="css/style.css">

</head>

<body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">
    

    <div id="overlayer"></div>
    <div class="loader">
        <div class="spinner-border text-primary" role="status">
            <span class="sr-only">Cargando...</span>
        </div>
    </div>

    <div class="site-wrap">

        <div class="site-mobile-menu site-navbar-target">
            <div class="site-mobile-menu-header">
                <div class="site-mobile-menu-close mt-3">
                    <span class="icon-close2 js-menu-toggle"></span>
                </div>
            </div>
            <div class="site-mobile-menu-body"></div>
        </div>

        <header class="site-navbar py-4 js-sticky-header site-navbar-target" role="banner">

            <div class="container">
                
                <div class="row align-items-center">

                    <div class="col-6 col-xl-2">
                        <h1 class="mb-0 site-logo"><a href="index.html" class="h2 mb-0">
            <img loading="lazy" src="./images/logo3.png" alt="Huemura" style="max-width: 60px;">  
            </a></h1>
                    </div>

                    <div class="col-12 col-md-10 d-none d-xl-block">
                        <nav class="site-navigation position-relative text-right" role="navigation">

                            <ul class="site-menu main-menu js-clone-nav mr-auto d-none d-lg-block" style="text-transform: uppercase;font-weight: 800;">
                                <li><a href="#home-section" class="nav-link">Inicio</a></li>
                                <li class="has-children">
                                    <a href="#about-section" class="nav-link">Nosotros</a>
                                    <ul class="dropdown">
                                        <li><a href="#distribucion-section" class="nav-link">Distribución</a></li>
                                        <li><a href="#team-section" class="nav-link"> Marcas</a></li>

                                    </ul>
                                </li>
                                <li> <a href="#portfolio-section" class="nav-link">Productos</a></li>
                                
                                <li class="has-children">
                                    <a href="#services-section" class="nav-link">Catálogo</a>
                                    <ul class="dropdown">
                                        <li><a href="/catalogo-online" class="nav-link">Catálogo Online</a></li>
                                        

                                    </ul>
                                </li>

                                <!-- <li><a href="#testimonials-section" class="nav-link">Testimonials</a></li> -->
                                <li><a href="#blog-section" class="nav-link">Eventos</a></li>
                                <li><a href="#contact-section" class="nav-link">Contacto</a></li>

                            </ul>
                        </nav>

                    </div>

                    <div class="col-6 d-inline-block d-xl-none ml-md-0 py-3" style="position: relative; top: 3px;"><a href="#" class="site-menu-toggle js-menu-toggle float-right"><span class="icon-menu h3"></span></a></div>

                </div>
            </div>

        </header>

        <div class="owl-carousel owl-theme carruselmio">

            <div class="item site-blocks-cover overlay" style="background-image: url(images/hero_256m.jpg);" data-aos="fade" id="home-section">

                <div class="container">
                    <div class="row align-items-center justify-content-center">

                        <div class="col-md-12 mt-lg-12 text-left">
                            <h1 class="text-uppercase tituloinicialh" data-aos="fade-up">Herramientas</h1>
                            <p class="mb-5 desc" data-aos="fade-up" data-aos-delay="100">Tenemos las mejores herramientas del mercado</p>
                            <div data-aos="fade-up" data-aos-delay="100">
                                <a href="#contact-section" class="btn smoothscroll btn-primary mr-2 mb-2">Contáctanos</a>
                            </div>
                        </div>

                    </div>
                </div>

                <a href="#about-section" class="mouse smoothscroll">
                    <span class="mouse-icon">
            <span class="mouse-wheel"></span>
                    </span>
                </a>
            </div>

            <div class="item site-blocks-cover overlay" style="background-image: url(images/hero_23.jpg);" data-aos="fade" id="home-section">

                <div class="container">
                    <div class="row align-items-center justify-content-center">

                        <div class="col-md-12 mt-lg-12 text-left">
                            <h1 class="text-uppercase tituloinicialh" data-aos="fade-up">acabados</h1>
                            <p class="mb-5 desc" data-aos="fade-up" data-aos-delay="100">Tenemos materiales de calidad para comenzar tus proyectos</p>
                            <div data-aos="fade-up" data-aos-delay="100">
                                <a href="#contact-section" class="btn smoothscroll btn-primary mr-2 mb-2">Contáctanos</a>
                            </div>
                        </div>

                    </div>
                </div>

                <a href="#about-section" class="mouse smoothscroll">
                    <span class="mouse-icon">
            <span class="mouse-wheel"></span>
                    </span>
                </a>
            </div>
            <div class="item site-blocks-cover overlay" style="background-image: url(images/hero_234m.jpg);" data-aos="fade" id="home-section">

                <div class="container">
                    <div class="row align-items-center justify-content-center">

                        <div class="col-md-12 mt-lg-12 text-left">
                            <h1 class="text-uppercase tituloinicialh" data-aos="fade-up">Materiales de pesca</h1>
                            <p class="mb-5 desc" data-aos="fade-up" data-aos-delay="100">Tenemos materiales resisitentes y duraderos</p>
                            <div data-aos="fade-up" data-aos-delay="100">
                                <a href="#contact-section" class="btn smoothscroll btn-primary mr-2 mb-2">Contáctanos</a>
                            </div>
                        </div>

                    </div>
                </div>

                <a href="#about-section" class="mouse smoothscroll">
                    <span class="mouse-icon">
            <span class="mouse-wheel"></span>
                    </span>
                </a>
            </div>
            <div class="item site-blocks-cover overlay" style="background-image: url(images/hero_255m.jpg);" data-aos="fade" id="home-section">

                <div class="container">
                    <div class="row align-items-center justify-content-center">

                        <div class="col-md-12 mt-lg-12 text-left">
                            <h1 class="text-uppercase tituloinicialh" data-aos="fade-up">limpieza y salud</h1>
                            <p class="mb-5 desc" data-aos="fade-up" data-aos-delay="100">Nos preocupamos por tu salud, y te ofrecemos lo mejor para tu cuidado</p>
                            <div data-aos="fade-up" data-aos-delay="100">
                                <a href="#contact-section" class="btn smoothscroll btn-primary mr-2 mb-2">Contáctanos</a>
                            </div>
                        </div>

                    </div>
                </div>

                <a href="#about-section" class="mouse smoothscroll">
                    <span class="mouse-icon">
            <span class="mouse-wheel"></span>
                    </span>
                </a>
            </div>
            <div class="item site-blocks-cover overlay" style="background-image: url(images/hero_2.jpg);" data-aos="fade" id="home-section">

                <div class="container">
                    <div class="row align-items-center justify-content-center">

                        <div class="col-md-12 mt-lg-12 text-left">
                            <h1 class="text-uppercase tituloinicialh" data-aos="fade-up">seguridad industrial</h1>
                            <p class="mb-5 desc" data-aos="fade-up" data-aos-delay="100">Te acompañamos en tus momentos rudos</p>
                            <div data-aos="fade-up" data-aos-delay="100">
                                <a href="#contact-section" class="btn smoothscroll btn-primary mr-2 mb-2">Contáctanos</a>
                            </div>
                        </div>

                    </div>
                </div>

                <a href="#about-section" class="mouse smoothscroll">
                    <span class="mouse-icon">
            <span class="mouse-wheel"></span>
                    </span>
                </a>
            </div>

            <div class="item  site-blocks-cover overlay" style="background-image: url(images/hero_2344m.jpg);" data-aos="fade" id="home-section">

                <div class="container">
                    <div class="row align-items-center justify-content-center">

                        <div class="col-md-12 mt-lg-12 text-left">
                            <h1 class="text-uppercase tituloinicialh" data-aos="fade-up">Material de construcción</h1>
                            <p class="mb-5 desc" data-aos="fade-up" data-aos-delay="100">Los mejores materiales, para los mejores proyectos</p>
                            <div data-aos="fade-up" data-aos-delay="100">
                                <a href="#contact-section" class="btn smoothscroll btn-primary mr-2 mb-2">Contáctanos</a>
                            </div>
                        </div>

                    </div>
                </div>

                <a href="#about-section" class="mouse smoothscroll">
                    <span class="mouse-icon">
            <span class="mouse-wheel"></span>
                    </span>
                </a>
            </div>

        </div>

        <div class="site-section cta-big-image" id="about-section">
            <div class="container">
                <div class="row mb-5">
                    <div class="col-12 text-center" data-aos="fade">
                        <h2 class="section-title mb-3">NOSOTROS</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 mb-5" data-aos="fade-up" data-aos-delay="">
                        <figure class="circle-bg">
                            <img loading="lazy" src="images/hero_1.jpg" alt="Image" class="img-fluid">
                        </figure>
                    </div>
                    <div class="col-lg-5 ml-auto" data-aos="fade-up" data-aos-delay="100">
                        <div class="mb-4">
                            <h3 class="h3 mb-4 text-black" style="margin-bottom: .8rem!important;">Líderes en <span style="font-weight: 900;">venta</span> </h3>
                            <p> <span style="font-weight: 900; color: black;"></span> de productos para el sector ferretero, pesca, limpieza y de construcción. Nuestro objetivo es brindar la mejor calidad en </p>

                        </div>

                        <div class="mb-4">
                            <ul class="list-unstyled ul-check success">
                                <li> Limpieza</li>
                                <li> Seguridad industrial</li>
                                <li> Acabados</li>
                                <li> Herramientas</li>
                                <li> Lubricantes</li>
                                <li> Materiales de ficina</li>
                                <li> Pesca</li>
                            </ul>

                        </div>

                    </div>
                </div>
            </div>
        </div>

        <section class="site-section" id="distribucion-section">
            <div class="container">

                <div class="row mb-5 justify-content-center">
                    <div class="col-md-7 text-center">
                        <h2 class="section-title mb-3" data-aos="fade-up" data-aos-delay="">CANALES DE DISTRIBUCIÓN</h2>
                        <p class="lead" data-aos="fade-up" data-aos-delay="100">Nos enfocamos en mantener los mejores productos y el mejor servicio para nuestros clientes.</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-6 mb-5" data-aos="fade-up" data-aos-delay="">

                        <div class="owl-carousel slide-one-item-alt">
                            <img loading="lazy" src="images/slide_1.jpg" alt="Image" class="img-fluid">
                            <img loading="lazy" src="images/slide_2.jpg" alt="Image" class="img-fluid">
                            <img loading="lazy" src="images/slide_3.jpg" alt="Image" class="img-fluid">
                            <img loading="lazy" src="images/slide_4.jpg" alt="Image" class="img-fluid">
                            <img loading="lazy" src="images/slide_5.jpg" alt="Image" class="img-fluid">
                            <img loading="lazy" src="images/slide_6.jpg" alt="Image" class="img-fluid">
                            
                        </div>
                        <div class="custom-direction">
                            <a href="#" class="custom-prev"><span><span class="icon-keyboard_backspace"></span></span></a><a href="#" class="custom-next"><span><span class="icon-keyboard_backspace"></span></span></a>
                        </div>

                    </div>
                    <div class="col-lg-5 ml-auto" data-aos="fade-up" data-aos-delay="100">

                        <div class="owl-carousel slide-one-item-alt-text">
                            <div>
                                <h2 class="section-title mb-3">Ferretería</h2>
                                <p class="lead">Atendemos comerciantes mayoristas y minoristas.</p>
                                <p>Orientándolos con técnicas de venta y asesoría en implementación de estrategias que permitan elevar sus niveles de rentabilidad.</p>

                            </div>
                            <div>
                                <h2 class="section-title mb-3">Construcción</h2>
                                <p class="lead">Atendemor el sector industrial, construcción.</p>
                                <p>Complementamos el servicio de venta, con asesorías sobre productos industriales, y de construcción.</p>

                            </div>
                            <div>
                                <h2 class="section-title mb-3">Pesca</h2>
                                <p class="lead">Nos extendemos de al mercado de accesorios de pesca.</p>
                                <p>Ofrecemos productos duraderos y resistentes con garantía que nuestras marcas afiliadas nos aseguran.</p>

                            </div>
                            <div>
                                <h2 class="section-title mb-3">Herramientas y Acabados</h2>
                                <p class="lead">Buscamos los mejores productos del mercado.</p>
                                <p>Te ofrecemos las mejores herramientas para que comiences tus proyectos sin ningun problema y lo culmines con una calidad de punta.</p>

                            </div>
                            <div>
                                <h2 class="section-title mb-3">Productos de Limpieza</h2>
                                <p class="lead">Nos preocupamos por la salud de nuestros clientes.</p>
                                <p>Por tal motivo nos encargamos de buscar los mejores productos de limpieza y desinfecciòn para ti.</p>

                            </div>
                            <div>
                                <h2 class="section-title mb-3">Seguridad Industrial</h2>
                                <p class="lead">Velamos por la seguridad denuestros clientes.</p>
                                <p>Ofreciendoles los implementos adecuados para cada ocasion, con el fin de ofrecerles una mejor experiencia de la mano con la seguridad de los implementos a usar.</p>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </section>

        <section class="site-section " id="team-section" style="background-attachment: fixed !important;background: url('images/fondorojo.png')center;padding: 0;background-size: cover;background-repeat: no-repeat;
        margin: 0 0 6em;">
           
                    <div class="container row mx-auto">
                        <div class="col-md-7 col-12 mt-5 d-flex align-items-center">
                            <div class="row mb-5">
                                <div class="col-md-12 text-center">
                                    <h2 class="section-title mb-3" style="color:rgb(255, 255, 255)" data-aos-delay="">MARCAS QUE DISTRIBUIMOS</h2>
                                    <p class="lead" style="color: rgb(216, 216, 216);" data-aos-delay="">Nos fidelizamos con mas de <strong> 50 </strong>marcas reconocidas en el mercado peruano.</p>
                                </div>
                            </div>
        
                            <!-- <div class="autoplay d-none" id="aquivendedores2">
                                
                            </div> -->
                        </div>
                        <div class="col-md-5 col-12">
                            <img loading="lazy" src="images/brojo.png" alt="" style="max-width: 100%;">
                        </div>
        
                    </div>
            
        </section>

        <section class="site-section" id="portfolio-section">

            <div class="container">

                <div class="row mb-3">
                    <div class="col-12 text-center">
                        <h2 class="section-title mb-3">PRODUCTOS</h2> 
                    </div>
                </div>

                <div class="row justify-content-center mb-5">
                    <div id="filters" class="filters text-center button-group col-md-7">
                        <button class="btn btn-primary active" data-filter="*">Todo</button>
                        <button class="btn btn-primary" data-filter=".pesca">Pesca</button>
                        <button class="btn btn-primary" data-filter=".construccion">Construcción</button>
                        <button class="btn btn-primary" data-filter=".electricas">Eléctricos</button>
                        <button class="btn btn-primary" data-filter=".pintura">Pintura</button>
                        <button class="btn btn-primary" data-filter=".pintura">Y más</button>
                        
                    </div>
                </div>

                <div id="posts" class="row no-gutter">
                    <div class="item pesca text-center col-sm-6 col-md-4 col-lg-4 col-xl-3 mb-4">
                        <a href="images/img_1.jpg" class="item-wrap fancybox" data-fancybox="gallery2">
                            <span class="icon-search2"></span>
                            <img  class="img-fluid" src="images/img_1.jpg">
                        </a>
                    </div>
                    <div class="item construccion text-center col-sm-6 col-md-4 col-lg-4 col-xl-3 mb-4">
                        <a href="images/img_2.jpg" class="item-wrap fancybox" data-fancybox="gallery2">
                            <span class="icon-search2"></span>
                            <img  class="img-fluid" src="images/img_2.jpg">
                        </a>
                    </div>

                    <div class="item electricas text-center col-sm-6 col-md-4 col-lg-4 col-xl-3 mb-4">
                        <a href="images/img_3.jpg" class="item-wrap fancybox" data-fancybox="gallery2">
                            <span class="icon-search2"></span>
                            <img  class="img-fluid" src="images/img_3.jpg">
                        </a>
                    </div>

                    <div class="item pintura text-center col-sm-6 col-md-4 col-lg-4 col-xl-3 mb-4">

                        <a href="images/img_4.jpg" class="item-wrap fancybox" data-fancybox="gallery2">
                            <span class="icon-search2"></span>
                            <img  class="img-fluid" src="images/img_4.jpg">
                        </a>

                    </div>

                   

                </div>
            </div>

        </section>

        <section class="site-section border-bottom bg-light catalogoa" id="services-section" style="padding:220px 0;">
            <div class="container ">

                <div class="row d-flex justify-content-center">

                    <p class="lead texxtopavercat">Conoce <span style="font-weight: 900;">todos</span> nuestros productos</p>
                </div>
                <div class="row d-flex justify-content-center">

                    <div>
                        <a href="/catalogo-online" class="btn smoothscroll btn-primary mr-2 mb-2">Ver catálogo online</a>
                    </div>

                </div>
                <!-- <div class="row d-flex justify-content-center">

                    <div>
                        <a href="/catalogo-online" class="btn smoothscroll btn-outline-primary mr-2 mb-2">Descargar catálogo</a>
                    </div>

                </div> -->
                

            </div>
        </section>

        <section class="site-section" id="blog-section">
            <div class="container">
                <div class="row mb-5">
                    <div class="col-12 text-center">
                        <h2 class="section-title mb-3">EVENTOS</h2>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 col-lg-4 mb-4 mb-lg-4" data-aos-delay="">
                        <div class="h-entry">
                            <div>
                                <img loading="lazy" src="images/evento1.jpg" alt="Image" class="img-fluid">
                            </div>
                            <h2 class="font-size-regular" style="color: rgb(48, 47, 47);font-weight: 900;">Ferretería Moreno presenta su nuevo catálogo online</h2>
                            <div class="meta mb-4">Moreno <span class="mx-2">&bullet;</span> Ago 20, 2020<span class="mx-2">&bullet;</span> <span class="rojito" style="font-weight: 900; ">Nuevo</span></div>
                            <p>Luego de un exaustivo y minucioso trabajo en coordinación con marcas afiliadas y estudios de mercado, Ferretería Moreno se complace en presentar su nuevo catálogo de sus mejores productos a los mejores precio del mercado.</p>

                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 mb-4 mb-lg-4" data-aos-delay="100">
                        <div class="h-entry">
                            <div>
                                <img loading="lazy" src="images/evento2.jpg" alt="Image" class="img-fluid">
                            </div>
                            <h2 class="font-size-regular" style="color: rgb(48, 47, 47);font-weight: 900;">Reinauguración en sede Salaverry</h2>
                            <div class="meta mb-4">Diego Marroquín <span class="mx-2">&bullet;</span> Ago 18, 2020<span class="mx-2">&bullet;</span> <span class="rojito" style="font-weight: 900; ">Nuevo</span></div>
                            <p>El gerente de Ferreterías Moreno, en coordinación con expertos, re abren sus puertas en una mejor y más variada tienda ubicada en Salaverry - Trujillo, ofreciéndole a sus clientes precios extraordinarios. Esperamos su asistencia.</p>

                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 mb-4 mb-lg-4" data-aos-delay="200">
                        <div class="h-entry">
                            <div>
                                <img loading="lazy" src="images/evento3.jpg" alt="Image" class="img-fluid">
                            </div>
                            <h2 class="font-size-regular" style="color: rgb(48, 47, 47);font-weight: 900;">Ferretería Moreno ofrece servicio personalizado.</h2>
                            <div class="meta mb-4">Moreno <span class="mx-2">&bullet;</span> Ago 01, 2020<span class="mx-2">&bullet;</span> <span class="rojito" style="font-weight: 900; "></span></div>
                            <p>En vista de facilitar a nuestros clientes el alcance de nuestros productos y servicios, optamos por la alternativa tecnológica de añadir un enlace directo a nuestro whatsapp, el cual está vigente a respuestas 24/7. Para acceder y comunicarte directamente con los ejecutivos de ventade nuestra ferretería, ingresa a la imagen de Whatssapp en la parte inferior de la página.</p>

                        </div>
                    </div>

                </div>
            </div>
        </section>
        <a class="_comunicaWhatsapp shadow" href="https://api.whatsapp.com/send?phone=51980497850&text=Hola!&nbsp;Ayudamee!" target="_blank">
            <span class="icon-whatsapp" aria-hidden="true"></span>
        </a>
        <footer class="site-footer parallax" id="contact-section" >
            <div class="container">
                <div class="row">
                    <div class="col-lg-6  col-md-12">
                        <!-- <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3545.487829714546!2d-78.98056003123745!3d-8.221478369631459!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x91ad18e0beeaa7f9%3A0x2d3f57572a8e35b0!2sLa%20Mar%2093%2C%20Salaverry%2013611!5e0!3m2!1ses!2spe!4v1597431983539!5m2!1ses!2spe" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe> -->
                        <img loading="lazy" class="img-fluid" src="images/mapa.png" alt="oficinas" style="padding: 0 0 40px 0;">

                        <ul class="footer-nav direcciones" style="margin-bottom: 30px !important;">
                            <li><span class="rojito bb">La Libertad: </span>
                                <br><span class="icon-pin_drop"></span> <a data-fancybox data-type="iframe" data-src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3545.487829714546!2d-78.98056003123745!3d-8.221478369631459!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x91ad18e0beeaa7f9%3A0x2d3f57572a8e35b0!2sLa%20Mar%2093%2C%20Salaverry%2013611!5e0!3m2!1ses!2spe!4v1597431983539!5m2!1ses!2spe" href="javascript:;">La Mar #93 - Salaverry</a>
                                <br><span class="icon-pin_drop"></span> <a data-fancybox data-type="iframe" data-src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3545.487829714546!2d-78.98056003123745!3d-8.221478369631459!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x91ad18e0beeaa7f9%3A0x2d3f57572a8e35b0!2sLa%20Mar%2093%2C%20Salaverry%2013611!5e0!3m2!1ses!2spe!4v1597431983539!5m2!1ses!2spe" href="javascript:;">Calle industrial Astillero Marpol (pronta sucursal).</a>

                              
                        </ul>
                    </div>
                    
<!-- <progress value="0" max="100" id="uploader">0%</progress> -->
<!-- <img loading="lazy" width="200" src="dist/imagen-no-disponible.png" height="200" id="imagen1_preview" /> -->
<!-- <input type="file" id="fileButton" value="upload"> -->
                    <div class="col-lg-6  col-md-12">
                        <div class="single-footer-widget newsletter">

                            <form action="#" class="p-5 _miFormEnvios" style="background: rgba(255, 0, 0, 0);border:1px white solid;backdrop-filter: blur(4px); ">

                                <h2 class="h4 text-black mb-5">ESCRÍBENOS TUS DUDAS</h2>

                                <div class="row form-group">
                                    <div class="col-lg-6 col-md-12">
                                        <label class="text-black" for="fname">Nombres</label>
                                        <input type="text" id="fname" class="form-control">
                                    </div>
                                    <div class="col-lg-6 col-md-12">
                                        <label class="text-black" for="lname">Apellidos</label>
                                        <input type="text" id="lname" class="form-control">
                                    </div>
                                </div>

                                <div class="row form-group">

                                    <div class="col-12">
                                        <label class="text-black" for="email">E-mail</label>
                                        <input type="email" id="email" class="form-control">
                                    </div>
                                </div>

                                <div class="row form-group">
                                    <div class="col-md-12">
                                        <label class="text-black" for="message">Mensaje</label>
                                        <textarea name="message" id="message" cols="30" rows="7" class="form-control" placeholder="Escribe tu mensaje aquí..."></textarea>
                                    </div>
                                </div>

                                <div class="row form-group">
                                    <div class="col-md-12">
                                        <input type="submit" value="Enviar Mensaje" class="btn btn-primary btn-md text-white botnonabajo">
                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>

                <div class="row text-center">
                    <div class="col-md-12">
                        <div class=" pt-5">
                            <p class="fin" style="margin-bottom: 0px !important;">
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                Copyright &copy; by<a href="https://cv-juan.web.app/" target="_blank" class="rojito"> JRdotcom</a>
                                <script>
                                    document.write(new Date().getFullYear());
                                </script> 
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            </p>

                        </div>
                    </div>

                </div>
            </div>
    </div>
    </footer>
    </div>
    
    <script src="js/jquery-3.3.1.min.js"></script>
    <!-- <script src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js"></script> -->
    <!-- <script src="js/jquery-ui.js"></script> -->
    <!-- <script src="js/popper.min.js"></script> -->
    <script src="js/isotope.pkgd.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/jquery.countdown.min.js"></script>
    <script src="js/jquery.easing.1.3.js"></script>
    <script src="js/aos.js"></script>
    <script src="js/jquery.fancybox.min.js"></script>
    <script src="js/jquery.sticky.js"></script>
    
    <script type="text/javascript" src="js/slick.min.js"></script>

    <script src="js/juan.js"></script>
    <script src="js/main.js"></script>

</body>

</html>