<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login | Ferretería Moreno</title>
    <%- include ('_codigoPedazos/estilosCabecera.ejs') -%>
    <link rel="icon" type="image/png" href="https://res.cloudinary.com/jrdotcom/image/upload/v1600456432/index/logoMoreno_n1zkvr.ico" />
</head>
<body>
    <%- include ('_codigoPedazos/alertasMensaje.ejs') -%>
    <div style="width: 100vw;min-height: 100vh;background:#1C1E2A;display: flex;justify-content: center;align-items: center;">
        <div class="shadow-lg p-4  bg-white rounded" style="background:url(https://res.cloudinary.com/jrdotcom/image/upload/v1599004945/loginbg_m1eift.jpg)center !important;background-size: cover;">
            <form  action="/login" method="POST">
                <div class="input-group mb-3" style="text-align: center;">
                    <h1  class="col-12"><img src="https://res.cloudinary.com/jrdotcom/image/upload/v1600455821/index/logoMoreno_dowpnn.png" style="max-width: 120px;padding: 15px 0;" alt="" srcset=""></h1>
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"  style="color:#ffffff85;background:#ffffff1a;border:0" id="basic-addon1"><i class="fa fa-user"></i></span>
                    </div>
                    <input id="idUsuario" style="background:#ffffff1a;color:rgba(255, 255, 255, 0.87);border:0px;border-top-right-radius:0.25rem;border-bottom-right-radius:0.25rem" type="text" name="username" class="form-control" autocomplete="off" autofocus aria-label="Username" placeholder="Ingresa usuario" aria-describedby="basic-addon1" required>
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" style="color:#ffffff85;background:#ffffff1a;border:0"  id="basic-addon1"><i class="fa fa-lock"></i></span>
                    </div>
                    <input id="idContra" style="background:#ffffff1a;color:rgba(255, 255, 255, 0.87);border:0px;border-top-right-radius:0.25rem;border-bottom-right-radius:0.25rem" type="password" name="password" autocomplete="current-password" class="form-control"  aria-label="Username" placeholder="Ingresar contraseña" aria-describedby="basic-addon1" required>
                </div>
                <div class="input-group mb-3">
                    <button type="submit" class="btn btn-dark col-12" style="background: #E41933;border-radius: 0.25rem;border: 1px #E41933 solid;min-height: 38px;" id="btnIngresar"><span class="spinner-border spinner-border-sm" id="miLoader" style="display: none;margin: auto;" role="status" aria-hidden="true"></span> <e id="miIngreso"> Ingresar</e></button>
                </div>

                <div class="input-group mb-3">
                    <a href="https://ferreteriamoreno-780ea.web.app/" class="btn btn-link col-12" style="color: #ffffff85;">Salir </a>
                </div>
            </form>
        </div>
    </div>
    <%- include('_codigoPedazos/estilosFooter.ejs')-%>
</body>
</html>