<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Ogani Template">
    <meta name="keywords" content="Ogani, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Catálogo | Ferretería Moreno</title>
    <link rel="icon" type="image/png" href="https://res.cloudinary.com/jrdotcom/image/upload/v1601781149/index/logo_m6vsxx.ico" />
    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap" rel="stylesheet">
    <script src="https://cdn.rawgit.com/zenorocha/clipboard.js/v1.5.3/dist/clipboard.min.js"></script>


    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Css Styles -->
    <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css">

    <link rel="stylesheet" href="/css/cssshop.css" type="text/css">
    <link rel="stylesheet" href="/css/auto-complete.css" type="text/css">
    <link rel="stylesheet" href="/css/style.css" type="text/css">
</head>

<body>
    <!-- Page Preloder -->
    <!-- <div id="preloder">
        <div class="loader"></div>
    </div> -->

    <!-- Humberger Begin -->
    <div class="load" id="load">
        
            <div class="spinner-border text-primary" role="status">
                <span class="sr-only">Cargando...</span>
            </div>
        
    
    </div>
        
    

    
    <div class="container-fluid fixed-top shadow-sm"  style="background:white;" >
        <div class="container">
            <nav class="navbar navbar-light bg-light row" style="background: rgba(255, 255, 255, 0) !important">
                <a class="navbar-brand col-12 col-md-2" id="pacentrar" href="https://www.mofesac.com/">
                    <img src="https://res.cloudinary.com/jrdotcom/image/upload/v1603219109/index/logoG_ufd6w0.png" width="130" height="auto" class="d-inline-block align-top" alt="" loading="lazy">
                    
                  </a>
                  <form action="" class="form-inline col-md-8 col-12" id="buscarConsulta" style="padding: 0;">
                    <div class="input-group" style="width: 100%">
                       <input type="text" class="form-control" style="width: 100%" id="clienteVentas" autocomplete="off" onkeyup="leerDat()" placeholder="¿Qué estás buscando?" aria-label="Recipient's username" aria-describedby="basic-addon2">
                       <div class="input-group-append" style="position: absolute;
                       right: 0px;
                       z-index: 999;
                       top: 18%;">
                         <button type="submit" class="input-group-text" id="basic-addon2" style="background: #f3f3f300;
                         border: 0;
                         border-radius: 0;
                         border-top-right-radius: 2px;
                         border-bottom-right-radius: 2px;;"><i class="fa fa-search"></i></button>
                       </div>
                   </div>
               </form>
               <!-- <div class="col-12 col-md-2">
                <ul class=" mr-auto mt-2 mt-lg-0 d-flex" >
                    
                  
                        <a title="Iniciar sesión" href="/login" style="color:black;">
                            <i class="fa fa-user-o"></i>
                        </a>
                    
                   
                  </ul>
               </div> -->
              </nav>
        </div>
        

        <!-- <nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-between">
            
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="nav collapse navbar-collapse" id="navbarTogglerDemo01">
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                  </form>
              <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item active">
                  <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                </li>
              </ul>
              
            </div>
            
          </nav> -->
    </div>
    <!-- Breadcrumb Section End -->
    <a class="_comunicaWhatsapp shadow" href="https://api.whatsapp.com/send?phone=51983449328&text=Hola!&nbsp;Ayudamee!" target="_blank">
        <i class="fa fa-whatsapp" aria-hidden="true"></i>
    </a>
    <!-- Product Section Begin -->
    <section class="product spad"  style="background: #F3F3F3;">
        <div class="container">
            <div class="row">
                <div class="col-lg-2 col-md-3">
                    <div class="sidebar">
                        <!-- <div class="sidebar__item">
                            <form action=""  id="buscarConsulta">
                                 <div class="input-group mb-3">
                                    <input type="text" class="form-control" id="clienteVentas" autocomplete="off" onkeyup="leerDat()" placeholder="Buscar" aria-label="Recipient's username" aria-describedby="basic-addon2">
                                    <div class="input-group-append" style="position: absolute;
                                    right: 0;
                                    z-index: 999;
                                    top: 18%;">
                                      <button type="submit" class="input-group-text" id="basic-addon2" style="background: #f3f3f300;
                                      border: 0;
                                      border-radius: 0;
                                      border-top-right-radius: 2px;
                                      border-bottom-right-radius: 2px;;"><i class="fa fa-search"></i></button>
                                    </div>
                                </div>
                            </form>
                            
                        </div> -->
                        <!-- <div class="sidebar__item" style="margin:0;padding: 20px 0;">
                            <a  data-toggle="collapse" href="#filtrosPqe" style="font-size: 18px;font-weight: 400;color:rgb(24, 24, 24)"><i class="fa fa-bars"></i>  Opciones de Búsqueda </a>
                        </div> -->
                        <div class="sidebar__item collapse show" id="filtrosPqe">
                            <a data-toggle="collapse" class="subTitulo" style="color: #EA593F;font-weight: 400;text-transform: uppercase;letter-spacing: 1.6px;" href="#_setHeading" aria-expanded="true">Rubro <span style="float:right;color:#EA593F"><i class="fa fa-chevron-down"></i></span> </a>
                            <ul id="_setHeading" class="collapse show" Style="max-height: 350px;overflow: auto;">
                                

                            </ul>
                        </div>
                        <div class="sidebar__item">
                            <a data-toggle="collapse" class="subTitulo" style="color: #EA593F;font-weight: 400;text-transform: uppercase;letter-spacing: 1.6px;" href="#_setBrands" aria-expanded="true">Marca <span style="float:right;color:#EA593F"><i class="fa fa-chevron-down"></i></span></a>
                            <ul id="_setBrands"  class="collapse show" Style="max-height: 350px;overflow: auto;">
                                

                            </ul>
                        </div>
                        <!-- <div class="sidebar__item sidebar__item__color--option d-flex flex-column" >
                            <a data-toggle="collapse" class="subTitulo" style="color: #EA593F;font-weight: 400;text-transform: uppercase;letter-spacing: 1.6px;" href="#_setColours" aria-expanded="true">Colores <span style="float:right;color:#EA593F"><i class="fa fa-chevron-down"></i></span></a>
                            
                            <div id="_setColours"  class="collapse show" style="display: flex;flex-wrap: wrap;" >
                                

                            </div>
                        </div> -->
                        <!-- <div class="sidebar__item">
                            <h4>Price</h4>
                            <div class="price-range-wrap">
                                <div class="price-range ui-slider ui-corner-all ui-slider-horizontal ui-widget ui-widget-content"
                                    data-min="10" data-max="540">
                                    <div class="ui-slider-range ui-corner-all ui-widget-header"></div>
                                    <span tabindex="0" class="ui-slider-handle ui-corner-all ui-state-default"></span>
                                    <span tabindex="0" class="ui-slider-handle ui-corner-all ui-state-default"></span>
                                </div>
                                <div class="range-slider">
                                    <div class="price-input">
                                        <input type="text" id="minamount">
                                        <input type="text" id="maxamount">
                                    </div>
                                </div>
                            </div>
                        </div> -->


                    </div>
                </div>
                <div class="col-lg-10 col-md-9">

                    <div class="filter__item">
                        <div class="row" style="justify-content: space-between;">
                           
                            <div class="col-lg-4 col-md-4 " id="noMuestra"  style="    font-size: 12px;
                            font-weight: 600;
                            display: flex;
                            height: 43px;
                            align-items: center;">
                                Encontrados <span id="elementosencontrados"></span> productos
                                
                            </div>
                            <div class="col-lg-4 col-md-5">
                                <div class="filter__sort text-right">
                                    <span style="font-size: 12px;font-weight: 600;">Ordenar por </span>
                                    <select onchange="setOrden()" id="orderpor">
                                        <option disabled selected>Recomendado</option>
                                        <option value="mayor" style="cursor: pointer;">Mayor Precio</option>
                                        <option value="menor" style="cursor: pointer;">Menor Precio</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" id="_setProductos" style="padding:0 15px">

                       

                    </div>
                    <div class="product__pagination">
                        <ul id="pagination-demo" class="pagination" style="display: flex;justify-content: center;margin-top:30px"></ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Product Section End -->

    <!-- Footer Section Begin -->
    <footer class="site-footer " style="padding: 0 !important; background: rgb(248, 248, 248) !important;box-shadow: 0 0 10px #00000010;"  id="contact-section" >
        <div class="container">


            <div class="row text-center">
                <div class="col-md-12">
                    <div >
                        <p class="fin" style="margin-bottom: 0px !important;">
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            Copyright &copy; by<a href="https://cv-juan.web.app/" target="_blank" class="rojito"> JRdotcom</a>
                            <script>
                                document.write(new Date().getFullYear());
                            </script>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        </p>

                    </div>
                </div>

            </div>
        </div>
</div>
</footer>

    <!-- Footer Section End -->

    <!-- Js Plugins -->
    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/jquery.twbsPagination.js"></script>
    <script src="/js/auto-complete.min.js"></script>
    <script src="/js/shop.js"></script>
    <!-- <script src="js/jquery.nice-select.min.js"></script>
    <script src="js/jquery-ui.min.js"></script>
    <script src="js/jquery.slicknav.js"></script>
    <script src="js/mixitup.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/main.js"></script> -->



</body>

</html>